<header>
    <div class="header-container">

        <div class="logo-container">
            <img src="/logo_compasio/logo_simplified.png" class="logo">
            <h1>{{ site.Title }}</h1>

            <div class="social-icons">
                <a href="https://www.linkedin.com/company/computational-pathology-and-spatially-integrated-omics-compasio">
                    <i class="fab fa-linkedin" title="LinkedIn"></i>
                </a>
                <a href="https://github.com/compasiolab">
                    <i class="fab fa-square-github" title="GitHub"></i>
                </a>
                <a href="https://gstep.policlinicogemelli.it/#/VetrinaFacilities/26/Pitch" class="icon-to-fix-box">
                    <i class="fas fa-tag" title="GSTEP"></i>
                </a>
            </div>
        </div>

        <nav class="navbar">
            <a href="/">About</a>
            <a href="/research/">Research</a>
            <a href="/people/">People</a>
            <a href="/publications/">Publications</a>
            <a href="/contact/">Contact</a>
        </nav>

    </div>
</header>