header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;

  background-color: #7a7373;
  color: white;

  z-index: 1000; /* Ensure the header stays on top of other content */
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 12px 20px;
  max-width: 1000px;
  margin: 0 auto;
  gap: 15px 40px; /* row-gap column-gap */
}

/* LAB LOGO, NAME, SOCIAL ICONS */

.logo-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px; /* space between logo and text */
}

/* Lab logo picture */
.logo {
  height: 60px;
  width: 60px; /* keep aspect ratio */
}

/* Lab name text */
header h1 {
  font-size: 1.25rem;
  color: white;
}

/* Social icons */
.social-icons {
  display: flex;
  gap: 10px;
  margin-left: 10px; /* add a bit more space between text and icons */
}

.social-icons a {
  color: inherit;
  font-size: 25px;
  text-decoration: none;
}

.social-icons a:hover {
  opacity: 0.7;
}

.icon-to-fix-box {
  width: 23px;
  height: 23px;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 4px;
}

.icon-to-fix-box i {
  font-size: 17px;
  line-height: 1;
  color: #7a7373;
}

/* NAVBAR */

.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* spacing between items */
}

.navbar a {
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-weight: 500;
  font-size: 10pt;

  color: white;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}