{{ define "main" }}

  <div class="wip-banner">
    🚧 Website under construction — content is still being updated.
  </div>

  <section class="affiliations-container">
    <div class="affiliations-logos">
      <img src="/logo_fpg/Logo FPG 2022/Versione B - Senza Specifica/PNG/Logo FPG - NoDescriptor - Positivo con Icona Bianca.png" alt="Gemelli IRCCS">
      <img src="/logo_gstep/GSTEP_LogoWeb.png" alt="GSTEP">
    </div>
  </section>

  <section class="hero">
    <h1>Computational Pathology<br>and Spatially-Integrated Omics Lab</h1>
    <p>{{ .Content }}</p>
  </section>


{{ end }}
