
{{ define "main" }}

<h1>Contact</h1>

<div class="contact-container">

    <div class="contact-info">
        <h2>Università Cattolica del Sacro Cuore</h2>
        <h3>Info Science Center</h3>

        <h4>Address</h4>
        <p>
            Largo Francesco Vito, 1,<br>
            00168, Rome, Italy
        </p>

        <h4>E-mail</h4>
        <p><a href="mailto:konstantinos.zormpaspetridis@policlinicogemelli.it">konstantinos.zormpaspetridis<br> @policlinicogemelli.it</a></p>
    </div>

    <div class="contact-map">
        <iframe src="https://www.google.com/maps?q=Istituti+Biologici&output=embed" width="100%" height="100%"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>

</div>

{{ end }}